
.btn {
    width: 135px;
    height: 48px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid white;
    color: white;
    background-color: #014E56;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #2C6269;

}

.disabled {
    opacity: 25%;
}

.btn-secondary {
    width: 135px;
    height: 48px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #012F34;
    color: #012F34;
    background-color: #F67E7E;
}

.btn-secondary:hover {
    cursor: pointer;
    color :  white;
    background-color: #012F34;
}